body .ie-warning {
    display: none;
    text-align: center;
}

body .ie-warning a {
    text-decoration: underline;
    color: #00b900;
}

body .ie-warning p {
    max-width: 540px;
    display: inline-block;
}

body.ie9 .ie-warning, body.ie10 .ie-warning, body.ie11 .ie-warning {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: white;
    text-align: center;
    padding-top: 16px;
    z-index: 9999999999;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.12);
}

body .close-ie-warning {
    background: none;
    position: absolute;
    left: 20px;
    top: 10px;
    transition: all 250ms ease;
    opacity: 0.9;
}

body .close-ie-warning {
    opacity: 1;
    cursor: pointer;
}

body .close-ie-warning:before {
    content: '';
    background: red;
    width: 4px;
    height: 30px;
    display: block;
    transform: rotate(-45deg);
    top: 10px;
    left: 20px;
    position: absolute;
    border-radius: 2px;
}

body .close-ie-warning:after {
    content: '';
    background: red;
    width: 4px;
    height: 30px;
    display: block;
    transform: rotate(45deg);
    top: 10px;
    left: 20px;
    position: absolute;
    border-radius: 2px;
}
